#login-box {
    text-align: center;
    margin-top: 100px;
    width: 300px;
    border: 1px solid #777;
    background-color: #fff;
    padding: 20px 0 20px 0;
}

#login-table {
    text-align: left;
    border: 0;
    padding; 0;
    width: 100%;
}

#error {
    color: #e00;
}

